
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://thymeleaf.org">

    <head th:replace="~{administrador/fragmentos :: head}">
        <title>Crear Nuevo Usuario</title>
    </head>
    <body>

        <header th:replace="~{administrador/fragmentos::header}"/>
        
        <section th:replace="~{boletines/fragmentos :: agregarBoletines}"/>  
        
        <footer th:replace="~{administrador/fragmentos::footer}"/>

    </body>
</html>

