<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:fragment="head">
        <title>XXXXXXXXXX</title>
        <meta charset="UTF-8"/>
        <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
        <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>      
        <header th:fragment="header" class="header">
            <div class="max-vw-100" style="background-color: #eee;">
                <img src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/head.jpg?alt=media&token=83311b9e-99df-4b21-904a-0f53bb4489b8&_gl=1*1ou4225*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU0Nzc4NS4xLjEuMTY5ODU1MDAyMS41MC4wLjA." 
                     width="100%" height="100" alt="portada"/>
            </div>
            <div class="max-vw-100">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <img src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/logo.png?alt=media&token=d22ba7a8-3af4-41d8-8741-3f908aafea61&_gl=1*1g34lvh*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU0Nzc4NS4xLjEuMTY5ODU0OTQ3Ny41My4wLjA." 
                         width="150" height="100" alt="LOGO"/>

                    <a class="navbar-brand" href="#">MENU</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Actuales <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Próximos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Artistas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Reseñas</a>
                            </li>
                        </ul>
                        <form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Identificate <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Registrate</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Ubicación</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Notificaciones</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Idioma
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="#">Esp</a>
                                    <a class="dropdown-item" href="#">Ing</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>   
            </div>
        </header>

        <section th:fragment="section-level-1"  class="py-2">
            <div class="container px-4 px-lg-5 my-5">
                <div class="col mb-5">
                    <div class="card h-75">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/evento1.jpg?alt=media&token=6a6c0d37-ddad-49da-b712-62d8683450f8&_gl=1*1u6tjah*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU1Nzg4MS4yLjEuMTY5ODU1OTU1MS42MC4wLjA." alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">Proximo Evento</h5>
                                <!-- Product price-->
                                ¢25.000.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reservar</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section th:fragment="section-level-2" class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/evento2.jpg?alt=media&token=f4e91209-5c9f-44d0-ba24-f6612884a392&_gl=1*2ipygh*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU1Nzg4MS4yLjEuMTY5ODU1ODUwMi42MC4wLjA." alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Proximo Evento</h5>
                                    <!-- Product price-->
                                    ¢25.000.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/evento2.jpg?alt=media&token=f4e91209-5c9f-44d0-ba24-f6612884a392&_gl=1*2ipygh*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU1Nzg4MS4yLjEuMTY5ODU1ODUwMi42MC4wLjA." alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Proximo Evento</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"></span>
                                    ¢25.000.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Sale badge-->
                            <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                            <!-- Product image-->
                            <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/evento2.jpg?alt=media&token=f4e91209-5c9f-44d0-ba24-f6612884a392&_gl=1*2ipygh*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU1Nzg4MS4yLjEuMTY5ODU1ODUwMi42MC4wLjA." alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Proximo Evento</h5>
                                    <!-- Product price-->
                                    <span class="text-muted text-decoration-line-through"></span>
                                    ¢25.000.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/tech-shop-m.appspot.com/o/evento2.jpg?alt=media&token=f4e91209-5c9f-44d0-ba24-f6612884a392&_gl=1*2ipygh*_ga*NDQ2OTkzODkzLjE2OTg1NDc3ODQ.*_ga_CW55HF8NVT*MTY5ODU1Nzg4MS4yLjEuMTY5ODU1ODUwMi42MC4wLjA." alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">Proximo Evento</h5>
                                    <!-- Product reviews-->
                                    <div class="d-flex justify-content-center small text-warning mb-2">
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                        <div class="bi-star-fill"></div>
                                    </div>
                                    <!-- Product price-->
                                    ¢25.000.00
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Reservar</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer th:fragment="footer" class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright © Proyecto U fidelitas</p></div>
        </footer>






    </body>
</html>




