<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{administrador/fragmentos :: head}">
        <title>Listado de Métodos de Pago</title>
    </head>
    <body>

        <header th:replace="~{administrador/fragmentos::header}"/>

        <!-- Aquí se reemplaza la sección por el fragmento para listar los métodos de pago -->
        <section th:replace="~{metodosdepago/fragmentos :: listadoMetodosPago}"/>  
        
        <footer th:replace="~{administrador/fragmentos::footer}"/>

    </body>
</html>
